

@font-face {
    font-family: "SignaWeb-Book";
    src: url("fonts/SignaWeb-Book.eot?") format("eot"), url("fonts/SignaWeb-Book.woff") format("woff"), url("fonts/SignaComp-Book.ttf") format("truetype");

}
h1, h2, h3, h6 {
    font-family: "SignaWeb-Book";
		font-weight: normal;
		color: @grayDark;
}

h6 {
    font-family: "SignaWeb-Book";
	color: @grayLight;

}

a h1 {
	color: darken(@linkColor, 15%);
}